<h1>Declutter</h1>
<p>A self-destructing to-do list</p>

<h1>Your To-do list</h1>


<%= render partial: 'items/items', locals: { items: @items } %>
<%= render partial: 'items/form', locals: { item: @user.items.new, user: @user } %>
