<div class="row">
  <div id ="about" class="col-md-3">
  <h1>Declutter</h1>
<p>A 7 Day self-destructing to-do list</p>
<p>Created by <a href="http://rachel-lin.com" target="blank">Rachel Lin</a></p>
</div>

<div class="col-md-3">
<h1>Your To-do list</h1>
<%= render partial: 'items/items', locals: { items: @items } %>
</div>

<div class="col-md-3">
<h1>Add Tasks</h1>
<%= render partial: 'items/form', locals: { item: @user.items.new, user: @user } %>
</div>

</div>
