// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: Helvetica, arial, sans-serif;
  }

h1 {
  font-family: Helvetica, arial, sans-serif;
  font-size: 15px !important;
  color:red !important;
  font-weight:bold !important;
}

p {
  font-family: Helvetica, arial, sans-serif;
  font-weight:bold;
  font-size: 12px;
  color:#888;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li, li a, a:active, a:visited {
  font-family: Helvetica, arial, sans-serif;
  font-size: 15px !important;
  font-weight:bold !important;
  color: black;
  text-decoration:none;
  padding-left: 0 !important;

}

ul li a:hover {
  font-family: Helvetica, arial, sans-serif;
  font-weight:bold;
  text-decoration:none;
  border: none !important;
  cursor: crosshair !important;
  padding-left: 0 !important;
  color: lime;
  background-color: transparent !important;

}


.nav {
  margin-top:15px;
}

.alert {
  margin-top: 15px;
}


.field input {
  border: 1px solid black;
  border-left: 5px solid black;
  outline:none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: transparent;
  border: 1px solid black;
  border-left: 5px solid black;
  margin-top: 10px;
}

label {
  font-size: 12px;
  margin-top:5px;
}