// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic|EB+Garamond);

* {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight:400;
  background-color:white!important;
  }


body {

}

.container {
  margin-top: 2%;

}

a, a:active, a:visited {
  color:black;
  font-size: 15px;
}

a:hover {
  color:#888 !important;
  text-decoration:none !important;
  cursor:crosshair;
}

h1 {
  font-size: 18px !important;
  color:red !important;
}

p {
  font-size: 15px;
  color:black;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

 ul li, li a, li a:active, li a:visited {
  font-size: 30px !important;
  font-weight:300;
  color: black;
  text-decoration:none;
  padding-left: 0 !important;

}

ul li a:hover {
  text-decoration:none;
  border: none !important;
  cursor: crosshair !important;
  padding-left: 0 !important;
  color: #888;
  background-color: transparent !important;

}

.list-items li, .list-items li a {
    margin-top:10px;
    font-size: 18px !important;
  color:black;
}

.nav {
  margin-top:15px;
}

#about h1 {
  margin-bottom: 20px;
}

.alert {
  margin-top: 15px;
}


.field input, input, select, textarea {

border: 1px solid white;
border-bottom: 1px solid black;
background-color:white !important;
padding:5px;
outline:none;
}

.field input:focus, input:focus, button, select, textarea {

  outline:none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #eee !important;
  margin-top: 15px;
  padding: 2px 10px 2px 10px;
  border:1px solid white;
  color:black;
  font-weight: 400;
  font-size: 15px;
}

label {
  font-size: 12px;
  margin-top:5px;
}

.input--nao {
  overflow: hidden;
  padding-top: 1em;
}

.input__field--nao {
  padding: 0.5em 0em 0.25em;
  width: 100%;
  background: transparent;
  color: #9da8b2;
  font-size: 1.25em;
}

.input__label--nao {
  position: absolute;
  top: 0.95em;
  font-size: 0.85em;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.graphic--nao {
  stroke: #92989e;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  color: #333;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  stroke: #333;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}